%nav.navbar.navbar-expand-lg.navbar-light{class: ("nav-home" if current_user || !home_page?)}
  .container
    %a.navbar-brand{:href => "#"}
      - image_path = (current_user || !home_page?) ? 'logo2.png' : 'logo.png'
      = link_to root_path do
        = image_tag image_path, class: 'img-fluid logo', alt: 'Logo'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse{class: ("nav-height" if current_user || !home_page?)}
      %ul.navbar-nav.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "#"} How it works
        %li.nav-item
          %a.nav-link{:href => "#"} Credit Cards
        %li.nav-item
          %a.nav-link{:href => "#"} Investing
        %li.nav-item
          %a.nav-link{:href => "#"} Loans
        %li.nav-item
          %a.nav-link{:href => "#"} Resources
        %li.nav-item
          %a.nav-link{:href => "#"} Blog
        - unless current_user
          %li.nav-item
            = link_to 'Sign Up', new_user_registration_path, class: 'btn sign-up'
          %li.nav-item
            = link_to 'Sign In', new_user_session_path, class: 'btn sign-in'
        - else
          %li.nav-item
            = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn sign-out'