!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Bootstrap CSS
    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", :integrity => "sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:100,200,300", :rel => "stylesheet"}/
    %title PayTheTab
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %script{:crossorigin => "anonymous", :integrity => "sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", :src => "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"}
    / - Navbar
    .home
      %nav.navbar.navbar-expand-lg.navbar-light
        .container
          %a.navbar-brand{:href => "#"}
            = image_tag "logo.png", class: "img-fluid logo", alt: "Logo"
          %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.mb-2.mb-lg-0
              %li.nav-item
                %a.nav-link.active{"aria-current" => "page", :href => "#"} How it works
              %li.nav-item
                %a.nav-link{:href => "#"} Credit Cards
              %li.nav-item
                %a.nav-link{:href => "#"} Investing
              %li.nav-item
                %a.nav-link{:href => "#"} Loans
              %li.nav-item
                %a.nav-link{:href => "#"} Resources
              %li.nav-item
                %a.nav-link{:href => "#"} Blog
              %li.nav-item
                %button.btn.sign-up Sign Up
              %li.nav-item
                %button.btn.sign-in Sign In
      / First Section
      .container
        .row
          .col-sm-12.col-md-6
            %h1.home-title Lorem Ipsum is manage money simply dummy
            %h2.home-title Reach your goals with personalized insights,custom budgets, spend and subscription monitoring
            .buttons
              %button.btn.sign-up Download
              %button.btn.sign-in Read More
          .col-sm-12.col-md-6.phone-image
            = image_tag "phone.png", class: "img-fluid phone", alt: "Phone"

    = yield
    / Divided Section
    .container
      .row.second-row
        .p-3.col-sm-12.col-md-4
          = image_tag "person1.png", class: "img-fluid person1", alt: "Person1"
        .p-3.col-sm-12.col-md-1
        .p-3.col-sm-12.col-md-7
          %h1.title Lorem Ipsum Is
          %h3.subtitle
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        .p-3.col-sm-12.col-md-7
          %h1.title1
            Lorem Ipsum Is
          %h3.subtitle
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        .p-3.col-sm-12.col-md-1
        .p-3.col-sm-12.col-md-4
          = image_tag "person2.png", class: "img-fluid person2", alt: "Person2"
    / Gallery Section
    .container-fluid
      .row
        .col-sm-12.col-md-6.black-image
          %h1.home-title Lorem Ipsum Is
          %h4.home-title
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem  standard dummy text ever since the 1500s, when an unknown printer took
          = image_tag "phone1.png", class: "img-fluid phone1", alt: "Phone1"
        .col-sm-12.col-md-6.blue-image
          %h1.home-title Lorem Ipsum Is
          %h4.home-title
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem  standard dummy text ever since the 1500s, when an unknown printer took
          = image_tag "phone2.png", class: "img-fluid phone2", alt: "Phone2"
    / Service Section
    .container
      .row.icon-row
        .p-3.col-sm-12.col-md-6.col-lg-3
          %img.img-fluid.icon{:alt => "icon1", :src => "./assets/img/icon1.png"}/
          %h5.icon-title Out of the box ideas
          %h6.icon-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus est nec enim egestas
        .p-3.col-sm-12.col-md-6.col-lg-3
          %img.img-fluid.icon{:alt => "icon2", :src => "./assets/img/icon2.png"}/
          %h5.icon-title Out of the box ideas
          %h6.icon-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus est nec enim egestas
        .p-3.col-sm-12.col-md-6.col-lg-3
          %img.img-fluid.icon{:alt => "icon3", :src => "./assets/img/icon3.png"}/
          %h5.icon-title Fits all screens
          %h6.icon-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus est nec enim egestas
        .p-3.col-sm-12.col-md-6.col-lg-3
          %img.img-fluid.icon{:alt => "icon4", :src => "./assets/img/icon4.png"}/
          %h5.icon-title 24/7 support
          %h6.icon-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus est nec enim egestas adipiscing. Nunc
    / Slider Section
    .slider-image
      .container
        .slider-header
          %img.img-fluid.avatar1{:alt => "avatar", :src => "./assets/img/avatar.png"}/
          %img.img-fluid.avatar{:alt => "avatar", :src => "./assets/img/avatar.png"}/
          %img.img-fluid.avatar1{:alt => "avatar", :src => "./assets/img/avatar.png"}/
          %p.name Mark Steele
          %p.role Designer at LA STUDIO
          %img.img-fluid.line{:alt => "line", :src => "./assets/img/line.png"}/
        / text slide
        #carouselExampleCaptions.carousel.slide{"data-bs-ride" => "carousel"}
          .carousel-indicators
            %button{"aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselExampleCaptions", :type => "button"}
            %button.active{"aria-current" => "true", "aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselExampleCaptions", :type => "button"}
            %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselExampleCaptions", :type => "button"}
          .carousel-inner
            .carousel-item
              .carousel-caption.d-md-block
                %h3.description
                  “Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit.”
            .carousel-item.active
              .carousel-caption.d-md-block
                %h3.description
                  “Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit.”
            .carousel-item
              .carousel-caption.d-md-block
                %h3.description
                  “Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit.”
          /
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
    .light-blue
      .container
        .row
          .col-sm-12.col-md-6.manage-money
            %h1.title Lorem Ipsum is
            %h1.title1 Manage money simply dummy
            %h3
              Reach your goals with personalized insights,custom budgets, spend tracking, and subscription monitoring all for free.
            %button.btn.sign-up.buttons download
          .col-sm-12.col-md-6
            %img.img-fluid.iphone{:alt => "iphone", :src => "./assets/img/iphone.png"}/
    / Partners Section
    .container.partner-section
      .row
        .p-3.col-sm-12.col-lg-4
          %p.partners.title Best Partners
          %p.partner-title
            Fusce vulputate eleifend sapien bulum purus quam, scelerisque ut, mollis vulputate felis eros.
        .p-3.col-sm-6.col-lg-2.label-icon
          %img.img-fluid{:alt => "icon5", :src => "./assets/img/icon5.png"}/
        .p-3.col-sm-6.col-lg-2.label-icon
          %img.img-fluid{:alt => "icon6", :src => "./assets/img/icon6.png"}/
        .p-3.col-sm-6.col-lg-2.label-icon
          %img.img-fluid{:alt => "icon8", :src => "./assets/img/icon8.png"}/
        .p-3.col-sm-6.col-lg-2.label-icon
          %img.img-fluid{:alt => "icon7", :src => "./assets/img/icon7.png"}/
    / Footer Section
    .footer
      .container
        .row
          .p-3.col-xs-12.col-md-4
            %p.number 01.
            %p.footer-title about us
            %img.img-fluid.footer-logo{:alt => "footer-logo", :src => "./assets/img/logo1.png"}/
            .row
              .p-3.col-sm-12.col-lg-6
                .footer-bottom
                  .icon-groups
                    %img{:alt => "home", :src => "./assets/img/home.png"}/
                  .footer-icon-next
                    %p.footer-text 900 Colonial Drive Woodbridge, VA 22191
              .p-3.col-sm-12.col-lg-6
                .footer-bottom
                  .icon-groups
                    %img.tele{:alt => "phone-email", :src => "./assets/img/tele.png"}/
                  .footer-icon-next
                    %p.footer-text
                      %a{:href => "tel: +8 800 123 456 789"} +8 800 123 456 789
                .footer-bottom
                  .icon-groups
                    %img.mail{:alt => "phone-email", :src => "./assets/img/mail.png"}/
                  .footer-icon-next
                    %p.footer-text
                      %a{:href => "mailto:admin@fwd.com"} admin@fwd.com
          .p-3.col-xs-12.col-md-4
            %p.number 02.
            %p.footer-title.footer-height our twitter
            .footer-bottom
              .icon-groups
                %img{:alt => "twitter", :src => "./assets/img/twitter.png"}/
              .footer-icon-next
                %p.footer-text
                  2,000 Sales Reached, Thanks for everyone!
                  %a{:href => "https://t.co/aJSddQh2tT"} https://t.co/aJSddQh2tT
                  %br/
                  %span.title 20 days ago
            .footer-bottom
              .icon-groups
                %img{:alt => "twitter", :src => "./assets/img/twitter.png"}/
              .footer-icon-next
                %p.footer-text
                  Check out our new themes and templates
                  %a{:href => "https://t.co/UHoAYEDb6c"} https://t.co/UHoAYEDb6c
                  %br/
                  %span.title 24 days ago
          .p-3.col-xs-12.col-md-4
            %p.number 03.
            %p.footer-title.footer-height subscribe now
            .input-group.mb-3
              %input.form-control{"aria-describedby" => "button-addon2", "aria-label" => "Email Address", :placeholder => "Email Address", :type => "text"}/
              %button#button-addon2.btn.btn-success{:type => "button"} SUBSCRIBE
            %p.footer-text
              Fusce vulputate eleifend sapien. Vestibulum purus uam, scelerisque ut, mollis sed, nonummy id, metus cumsan. lorem in dui. Cras ultricies mi eu turpis hendrerit.
    .footer1
      .container
        %p.footer1-text @2021 All rights reserved
